body{
    background-color: #0c0705; 
    color: #E1AD01; 
 }

 #topHeader a{
   color: #2c3e50;
   font-weight: 600;
   font-size: 0.89rem;
   margin-left: -30px;
 }
 
.container-fluid{
   padding-left: 0;
   padding-right: 0; 
 }

 /* START : Footer */
 .full-footer{
   background-color:#0c0705;
   
 }
 .top-footer p{
   color: white;
 }
 .top-footer a{
   color: white;
   font-weight: 600;
 }
 .top-footer h3{
   color: white;
 }
 
 .top-hero-section{
 background-color: #3498db;
 color: white;
 }
 .top-hero-section a{
   color: white;
   font-weight: 600;
 }
 .qualities-img{
   width:200px;
 }
 
 .clients-section{
   background-color: #f0f0f0;
 }
 
 
 .breadcrumbs-section{
   background-color: #e9ecef;
 }

 .address p{
   font-weight: 600;
 }
 
 .bar{
   color: white;
   font-weight: 600;
   font-size: 1.1rem;
   border-radius: 17px;
   border: 1px solid rgb(63, 71, 80);
 }
 
 * {
   box-sizing: border-box;
 }
  